.cardsContainer {
	margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  text-align: center;
}

.card-P {
	background-color: white;
	width: 300px;
	border-radius: 5px; 
	border: none;
	box-shadow: 0 0 2px 2px lightgray;
	margin: 0 10px 20px;

}

.card-P:hover {
	box-shadow: 0 0 2px 2px gray;
}

.img-P  {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image-P {
	height: 200px;
	width: 100%;
	border-bottom: 1px solid lightgrey;
}

.infos-P {
	height: 100%;
	padding-left: 5%;
}

.name-P,
.price-P {
	text-align: start;
	margin: 0;
}

.name-P {
	font-size: 20px;
}

.price-P {
	display: flex;
	justify-content: left;
	font-size: 25px;
}

.rating-P {
	display: flex;
	justify-content: left;
	align-items: center;
}

.stars-P {
  height: 30px;
  object-fit: cover;
  object-position: 0% 50%;
}

.search_container {
  padding-top: 10%;
  display: flex;
  justify-content: space-around;
}

/* ==================== */
/* CSS PRODUITS DÉDIÉES */
/* ==================== */

#container-PD {
  height: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

#img-PD {
  border: 1px solid grey;
  height: 80%;
  width: 100%;
  object-fit: contain;
  background-color: white;
}

#infos-PD {

  width: 100%;
  padding-left: 20px;
  display: flex;
  flex-direction: column;

}

#name-PD, #type-PD, #price-PD, #quantity-PD {
  color: orange;
  margin: 0;
}

#name-PD {
  font-size: 50px;
  padding: 10px 0;
}

#type-PD {
  font-size: 20px;
  color: black;
}

#price-PD {
  font-size: 50px;
}

#quantity-PD {
  font-size: 20px;
  color: black;
}

#addCart-PD {
  background-color: #06B0E2;
  max-width: 300px;
  width: 100%;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  padding: 5px;
  margin: 20px 0;
}
#addCart-PD:hover {
  background-color: #045f7a;
}

#right-section {
  display: flex;
  flex-direction: column;
}

#feedback-form {
  display: flex;
  flex-direction: column;
}

#modify-form {
  display: flex;
  flex-direction: column;
}